<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/11e4c712-9fde-423c-a48b-158ebe3195b6/resourceGroups/Fall2024-Assignment3-beboskus-ResourceGroup/providers/Microsoft.Web/sites/Fall2024-Assignment3-beboskus</ResourceId>
    <ResourceGroup>Fall2024-Assignment3-beboskus-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment3-beboskus.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment3-beboskus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment3-beboskus</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>